.angular-version-container {
  position: relative;
  font-size: 0.875rem;
  color: #c207c9;
  text-align: center;
  z-index: 1001;
  background-color: color-mix(in srgb, #eaeef5 82%, transparent);
  width: 10rem;
}
