<div
  class="bg-surface-brand-strong text-neutral-inverted border-b border-gray-300 dark:border-gray-600"
>
  <div class="header-align flex items-center justify-between px-4 py-2">
    <div class="hamburger-align">
      <button
        id="hamburger"
        class="btn btn-link block md:hidden text-2xl"
        aria-label="Toggle Sidebar"
        (click)="toggleSidebar()"
      >
        &#9776;
      </button>
    </div>
    <div class="tittle-text-align">
      <h1 class="text-center text-lg font-semibold text-purple-500">
        LK. seed-app
      </h1>
    </div>
    <div class="tools-align">R</div>
  </div>
</div>
