<nav class="sidebar-menu flex flex-col items-start w-full p-5 h-full">
  <ul class="w-full">
    @for (menuItem of menuItems(); track $index) {
      <li class="my-2 w-full">
        <a
          class="flex items-center space-x-4 w-full cursor-pointer"
          [routerLink]="menuItem.routerLink"
          (click)="menuItemSelected.emit()"
        >
          <i [class]="menuItem.icon"></i>
          <span class="whitespace-nowrap">{{ menuItem.labelKey | translate }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
