<div
  class="bg-surface-brand-strong text-neutral-inverted border-r border-gray-300 dark:border-gray-600"
>
  <nav class="flex flex-col items-center">
    <ul>
      @for (menuItem of menuItems(); track $index) {
        <li class="my-2">
          <a
            class="row-align flex items-center space-x-2"
            [routerLink]="menuItem.routerLink"
          >
            <div class="icon-align">
              <i [class]="menuItem.icon"></i>
            </div>
            <div class="menu-label-align">
              {{ menuItem.label }}
            </div>
          </a>
        </li>
      }
    </ul>
  </nav>
</div>
